.most-popular {
    color: white;
    margin: 50px 0 0 60px;

}

.container-animes,
.container-animes-1,
.container-animes-2 {

    transition: 2s;
    overflow: hidden;
    width: 200%;
    justify-content: flex-start;


}

.container-anime {
    width: 80%;
    overflow: hidden;

}

.container-animes .card,
.container-animes-1 .card,
.container-animes-2 .card {
    margin-right: 50px !important;
    border: none;
    box-shadow: 2px 2px 4px black;
    height: 20.5rem;
    filter: brightness(80%);
    cursor: pointer;
    transition: 0.5s;
    width: 15rem;
    float: left;
}

.container-animes .card:hover,
.container-animes-1 .card:hover,
.container-animes-2 .card:hover {
    filter: brightness(100%);
}

.card-body {
    height: 50px;
    position: absolute;
    top: 86%;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.6),
            rgb(20, 20, 20));
    width: 100%;
    box-shadow: 2px 2px 4px black;
    contain: content;
}

.card-body h5 {
    font-size: 18px;
    float: left;
    color: white;
}

.card-title-fav {
    float: none !important;
    text-align: center;
}

.card-body img {
    width: 18%;
    float: right;
    margin-top: -7px;
    transition: 1s;
}

.card-body img:hover {
    transform: scale(1.1);
}

.card-body img:hover {
    cursor: pointer;
}

.cWidth {
    width: 15rem !important;
    height: 20.5rem !important;
    contain: content !important;
}

#favorite-anime {
    padding: 2% 0 0 5%;
    width: 100%;
}

#left-arrow,
#right-arrow,
#left-arrow-1,
#right-arrow-1,
#left-arrow-2,
#right-arrow-2 {
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
    z-index: 20;
    cursor: pointer;
}

.card-wrapper {
    display: flex;
    margin-bottom: 50px;
    overflow: hidden;
    font-family: kuro;
}

.is-favorite {
    display: none;
}

.clear-button {
    width: 100px;
    height: 100px;
}

.most-popular {
    font-family: kuro;
}

.card-img-top {
    width: 15rem;
}

.anime-favorito {
    color: white;
    font-size: 40px;
    padding: 200px 0 0 10%;
    font-family: kuro;

}

.animeFavorito {
    width: 50%;
    margin-bottom: 0px;
}

#player-container {
    display: flex;
    position: relative;
    width: 50%;
    margin: auto;
    padding-top: 200px;
}

#favorite-anime {
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 500px;
}

.card-fav {
    margin: 50px;
}





@media (max-width: 575px) {

    #favorite-anime {

        padding: 0 0 0 5%;
        width: 100%;
        margin-top: -5%;

        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .card-fav {
        margin: auto;
    }

    #player-container {
        display: flex;
        position: relative;
        width: 80%;
        height: 400px;
        margin: auto;
        padding-top: 200px;
    }

    .container-animes .card,
    .container-animes-1 .card,
    .container-animes-2 .card {
        margin-right: 30px !important;
        height: 8rem;
        filter: brightness(100%);
        width: 6rem !important;
        box-shadow: 1px 1px 4px black;

    }

    .container-animes,
    .container-animes-1,
    .container-animes-2 {
        width: 400%;
        justify-content: flex-start;

    }

    .card-body {
        height: 50px;
        position: absolute;
        top: 65%;
        background-image: linear-gradient(180deg,
                transparent,
                rgba(37, 37, 37, 0.6),
                rgb(20, 20, 20));
        width: 100%;
        box-shadow: none !important;
        contain: content;
    }

    .card-body h5 {
        font-size: 6.5px;
        float: left;
        color: white;
        margin-left: -12px;
        margin-top: 18.5px;
    }

    .card-title-fav {
        float: none !important;
        text-align: center;
    }

    .card-body img {
        width: 25%;
        float: right;
        margin-top: 15px;
        transition: 1s;
        margin-right: -14px;
    }

    #left-arrow,
    #right-arrow,
    #left-arrow-1,
    #right-arrow-1,
    #left-arrow-2,
    #right-arrow-2 {
        width: 20px;
        height: 20px;
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        height: inherit;
    }

    .most-popular h2 {
        font-size: 20px;
        margin-left: -21px;
    }

    .cWidth {

        height: 140px !important;
        margin-top: 50px !important;
    }

    .anime-favorito {
        color: white;
        font-size: 20px;
        padding: 100px 0 0 10%;
        font-family: kuro;

    }

    .animeFavorito {
        width: 50%;
        margin-bottom: 0px;
    }

    .favfoot,
    .searchfoot {
        position: absolute !important;
    }


}

@media (min-width: 750px) {
    #player-container {
        padding-bottom: 100px;
    }
}



@media (min-width: 576px) and (max-width: 767px) {

    #favorite-anime {

        padding: 0 0 0 5%;
        width: 100%;
        margin-top: -5%;

        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .favfoot,
    .searchfoot {
        position: absolute !important;
    }

    .card-fav {
        margin: auto;
    }

    #player-container {
        display: flex;
        position: relative;
        width: 80%;
        height: 400px;
        margin: auto;
        padding-top: 200px;
    }

    .container-animes .card,
    .container-animes-1 .card,
    .container-animes-2 .card {
        margin-right: 30px !important;
        height: 8rem;
        filter: brightness(100%);
        width: 6rem !important;
        box-shadow: 1px 1px 4px black;

    }

    .container-animes,
    .container-animes-1,
    .container-animes-2 {
        width: 400%;
        justify-content: flex-start;

    }

    .card-body {
        height: 50px;
        position: absolute;
        top: 65%;
        background-image: linear-gradient(180deg,
                transparent,
                rgba(37, 37, 37, 0.6),
                rgb(20, 20, 20));
        width: 100%;
        box-shadow: none !important;
        contain: content;
    }

    .card-body h5 {
        font-size: 6.5px;
        float: left;
        color: white;
        margin-left: -12px;
        margin-top: 18.5px;
    }

    .card-title-fav {
        float: none !important;
        text-align: center;
    }

    .card-body img {
        width: 25%;
        float: right;
        margin-top: 15px;
        transition: 1s;
        margin-right: -14px;
    }

    #left-arrow,
    #right-arrow,
    #left-arrow-1,
    #right-arrow-1,
    #left-arrow-2,
    #right-arrow-2 {
        width: 20px;
        height: 20px;
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        height: inherit;
    }

    .most-popular h2 {
        font-size: 20px;
        margin-left: -21px;
    }

    .cWidth {

        height: 140px !important;
        margin-top: 50px !important;
    }

    .anime-favorito {
        color: white;
        font-size: 20px;
        padding: 100px 0 0 10%;
        font-family: kuro;

    }

    .animeFavorito {
        width: 50%;
        margin-bottom: 0px;
    }
}

@media (max-width: 1275px) and (min-width: 1138px) {



    .container-animes .card,
    .container-animes-1 .card,
    .container-animes-2 .card {
        margin-right: 50px !important;
        border: none;
        box-shadow: 2px 2px 4px black;
        height: 17rem;
        filter: brightness(80%);
        cursor: pointer;
        transition: 0.5s;
        width: 12rem;
        float: left;
    }


    .card-body {

        top: 82%;

    }

    .card-body h5 {
        font-size: 15px;
        float: left;
        color: white;
        margin-left: -12px;
        margin-top: 10px;
    }

    .card-body img {
        width: 15%;
        float: right;
        margin-top: 5px;
        transition: 1s;
        margin-right: -14px;
    }

    #favorite-anime .card-body {
        top: 85%;
    }
}

@media (max-width: 1585px) and (min-width: 1276px) {

    .container-animes .card,
    .container-animes-1 .card,
    .container-animes-2 .card {
        margin-right: 50px !important;
        border: none;
        box-shadow: 2px 2px 4px black;
        height: 17rem;
        filter: brightness(80%);
        cursor: pointer;
        transition: 0.5s;
        width: 12rem;
        float: left;
    }


    .card-body {

        top: 82%;

    }

    .card-body h5 {
        font-size: 15px;
        float: left;
        color: white;
        margin-left: -12px;
        margin-top: 10px;
    }

    .card-body img {
        width: 15%;
        float: right;
        margin-top: 5px;
        transition: 1s;
        margin-right: -14px;
    }
}

@media (max-width: 1136px) and (min-width: 950px) {



    .container-animes .card,
    .container-animes-1 .card,
    .container-animes-2 .card {
        margin-right: 50px !important;
        border: none;
        box-shadow: 2px 2px 4px black;
        height: 14rem;
        filter: brightness(80%);
        cursor: pointer;
        transition: 0.5s;
        width: 10rem;
        float: left;
    }


    .card-body {

        top: 80%;

    }

    .card-body h5 {
        font-size: 15px;
        float: left;
        color: white;
        margin-left: -12px;
        margin-top: 10px;
    }

    .card-body img {
        width: 15%;
        float: right;
        margin-top: 5px;
        transition: 1s;
        margin-right: -14px;
    }

    #favorite-anime .card-body {
        top: 85%;
    }

}

@media (max-width: 949px) and (min-width: 768px) {

    .container-animes .card,
    .container-animes-1 .card,
    .container-animes-2 .card {
        margin-right: 50px !important;
        border: none;
        box-shadow: 2px 2px 4px black;
        height: 10.5rem;
        filter: brightness(80%);
        cursor: pointer;
        transition: 0.5s;
        width: 7.5rem;
        float: left;
    }


    .card-body {

        top: 75%;

    }

    #favorite-anime .card-body {
        top: 85%;
    }

    .card-body h5 {
        font-size: 12px;
        float: left;
        color: white;
        margin-left: -12px;
        margin-top: 10px;
    }

    .card-body img {
        width: 15%;
        float: right;
        margin-top: 10px;
        transition: 1s;
        margin-right: -14px;
    }
}