header {
    height: 200px;
    width: 100%;
    position: fixed;
    z-index: 12;
    background-image: linear-gradient(360deg,
            transparent,
            rgba(37, 37, 37, 0.5),
            rgba(20, 20, 20, 0.9));
    transition: 1s;

}

.logo {
    padding: 10px;
    margin: 20px;
    font-size: 50px;
    font-family: naruto;
    float: left;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a span {
    color: red;
}

.nav_bar {
    float: right !important;
    padding: 10px;
    margin: 20px;
    font-size: 50px;
    font-family: naruto;


}

.navbar-scrolled {
    background-color: rgb(8, 8, 8) !important;
    height: 150px;
    z-index: 30;
}

.nav_bar li {
    list-style: none;
    padding: 10px;
    display: inline-block;
    font-size: 30px;

}

.nav_bar li a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.nav_bar li a:hover {
    background-color: red;
}

.nav_bar li a.active:hover {
    background: none;
}

.nav_bar li a.active {
    color: red;
}

.closeNav {
    width: 100%;
}

#close-button {
    float: right;
    width: 24px;
    height: 24px;
    display: none;
}

.menu {
    float: right;
    display: none;
    margin: 20px;
}

#menu-bar2 {
    display: none;
}

.menu img {
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    float: right;
    transition: all 1s ease-in-out;
    z-index: 12;
    border-radius: 0.7vw;

}

.menu img:hover {
    background-color: rgb(185, 0, 0);
    cursor: pointer;
}

.nav_bar li a span {
    font-family: 'kuro';
    font-size: 40px;
}

.search-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left;
    margin: 35px;
    margin-left: 250px;

}


.search-div input {
    width: 250px;
    height: 45px;
    font-size: 15px;
    padding: 10px;
    border-radius: 0.2vh;
    float: left;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin-right: 0;
    transition: width 1.5s ease;
}

.search-div img {
    width: 65px;
    height: 63px;
    cursor: pointer;
    float: left;

}

.search-div:hover input {
    width: 350px;
}

/* RESPONSIVE */

@media (max-width: 575px) {
    header {
        height: 50px;
    }

    .logo {
        font-size: 18px;
        padding: 5px;
        margin: 10px;
    }

    .nav_bar {
        width: 100%;
        background-color: #111;
        margin: 0;
        position: fixed;
        display: none;
    }

    .menu img {
        width: 50% !important;
        margin: -5px;
    }

    .nav_bar li {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 1px;
        float: left;
        width: 90%;
    }

    .menu {
        display: block;
    }

    .menu img {
        width: 50px;
    }

    .nav_bar ul {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0% !important;
    }

    #favorite-nav,
    #favorite-count {
        font-size: 25px;
        padding-left: 5px;
    }

    .navbar-scrolled {
        height: 60px;
    }

    .search-div {
        margin: 13px;
        margin-right: 0px !important;

    }

    .search-div input {
        width: 100px;
        height: 10px;
        font-size: 10px;
    }

    .search-div img {
        width: 28px;
        height: 27px;
    }

    .search-div:hover input {
        width: 120px;
    }



}

@media (min-width: 576px) and (max-width: 766px) {
    header {
        height: 50px;
    }

    .logo {
        font-size: 22px;
        padding: 5px;
        margin: 10px;
    }

    .nav_bar {
        width: 100%;
        background-color: #111;
        margin: 0;
        position: fixed;
        display: none;
    }

    .menu img {
        width: 50% !important;
        margin: -5px;
    }

    .nav_bar li {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 1px;
        float: left;
        width: 90%;
    }

    .menu {
        display: block;
    }

    .menu img {
        width: 50px;
    }

    .nav_bar ul {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0% !important;
    }

    #favorite-nav,
    #favorite-count {
        font-size: 25px;
        padding-left: 5px;
    }

    .navbar-scrolled {
        height: 60px;
    }

    .search-div {
        margin: 15px;
        margin-left: 50px;

    }

    .search-div input {
        width: 100px;
        height: 10px;
        font-size: 10px;
    }

    .search-div img {
        width: 28px;
        height: 27px;
    }

    .search-div:hover input {
        width: 120px;
    }
}

@media (max-width: 1009px) and (min-width: 767px) {
    .nav_bar li {
        font-size: 20px;
        padding: 1px;
    }

    header {
        height: 100px;
    }

    .nav_bar li {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 1px;
        float: left;
        width: 90%;
    }

    .nav_bar ul {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0% !important;
    }




    .nav_bar {
        margin-left: 0px !important;
        padding: 5px;
        display: none;
        position: fixed;
        width: 100%;
        background-color: #111;
        margin: 0;
    }

    #favorite-nav,
    #favorite-count {
        font-size: 25px;
    }

    .logo {
        margin: 25px;
        margin-top: 35px !important;
        font-size: 25px !important;

    }

    .search-div input {
        width: 150px;
        height: 35px;

    }

    .search-div img {
        width: 55px;
        height: 52px;
    }

    .search-div {
        margin-right: 0px !important;
        margin-left: 0px;

    }

    .menu {
        display: block;
    }

    .menu img {
        width: 50px;
        padding: 10px;
        margin-top: 20px;
    }

    .search-div:hover input {
        width: 200px;
    }
}

/* @media (max-width: 1710px) and (min-width: 1010px) {

    .search-div {
        margin-right: 15px !important;
        margin-left: 100px;

    }



    .nav_bar {
        margin-left: 0 !important;
    }

    .search-div:hover input {
        width: 300px;
    }

} */

@media (max-width: 1860px) and (min-width: 1275px) {
    .nav_bar li {
        font-size: 23px;
    }

    #favorite-nav,
    #favorite-count {
        font-size: 25px;
    }

    .logo {
        margin: 25px;
        font-size: 40px;

    }

    .search-div input {
        width: 180px;
        height: 35px;

    }

    .search-div img {
        width: 55px;
        height: 52px;
    }

    .search-div {
        margin-right: 0px !important;
        margin-left: 0px;

    }

    .search-div:hover input {
        width: 220px;
    }
}

@media (max-width: 1274px) and (min-width: 1137px) {

    .nav_bar li {
        font-size: 20px;
    }

    .nav_bar {
        margin-left: 0px !important;
        padding: 8px;
    }

    #favorite-nav,
    #favorite-count {
        font-size: 25px;
    }

    .logo {
        margin: 25px;
        font-size: 35px;

    }

    .search-div input {
        width: 150px;
        height: 35px;

    }

    .search-div img {
        width: 55px;
        height: 52px;
    }

    .search-div {
        margin-right: 0px !important;
        margin-left: 0px;

    }

    .search-div:hover input {
        width: 200px;
    }
}

@media (max-width: 1136px) and (min-width: 950px) {
    .nav_bar li {
        font-size: 20px;
        padding: 1px;
    }

    .nav_bar {
        margin-left: 0px !important;
        padding: 5px;
    }

    #favorite-nav,
    #favorite-count {
        font-size: 25px;
    }

    .logo {
        margin: 25px;
        font-size: 30px;

    }

    .search-div input {
        width: 150px;
        height: 35px;

    }

    .search-div img {
        width: 55px;
        height: 52px;
    }

    .search-div {
        margin-right: 0px !important;
        margin-left: 0px;

    }

    .search-div:hover input {
        width: 180px;
    }
}