.container-characters {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 50px !important;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.character.show {
    opacity: 1;
}


.container-characters div {
    float: left;

}

.character-image {
    position: relative;


}

.character-image img {

    height: 720px;
    object-fit: contain;

}

.character-info h2 {
    color: black;
    padding: 5%;
    font-size: 35px;
    font-family: kuro;
    font-weight: bold;
}

.character-info {

    width: 60%;
    background-image: url('Images/back2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 720px;



}

.character-info p {
    color: black;
    padding: 5%;
    font-size: 20px;
    font-family: kuro;
    text-shadow: none !important;
}

.characterRandom {
    width: 30%;
    margin: auto;
    color: white;
    padding-top: 7% !important;

    position: relative;
    padding-right: 100px;
    font-family: kuro;
}

.characterRandom h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 50px;
}

.btn-random-character button {
    width: 250px;
    border-radius: 0.5vh 1.5vh 0.5vh 1.5vh;
    background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.842), rgb(126, 1, 1));
    border: none;
    color: white;
    box-shadow: 2px 4px 4px rgb(7, 6, 6);
    padding: 5px;
    height: 50px;
    filter: brightness(90%);
    transition: 1s;
    font-size: 15px;
    cursor: pointer;
}

.btn-random-character button:hover {
    filter: brightness(110%);
}


.btn-random-character {
    width: 50%;
    margin: auto;
}