#animeResults {
    overflow-y: scroll;
    height: 700px;
    width: 100%;
}

.anime-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 50px !important;
    flex-wrap: wrap;
    justify-content: center;

}

.anime-card-info {
    width: 40%;
    background-image: url('Images/back2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
}

.anime-card img {
    height: 500px;
    object-fit: contain;
}

.anime-card h3 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
    font-family: kuro;
}

.anime-card p {

    color: black;
    padding: 5%;
    font-size: 20px;
    font-family: kuro;
    text-shadow: none !important;
}

.not-found {
    font-size: 100px;
    font-family: kuro;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-weight: bold;
    width: 80%;
    margin: auto;
    background-image: linear-gradient(to right, #a50000, #ffffff);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s linear infinite;
    background-size: 200% auto;

}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* RESPONSIVE */

/* For screens smaller than 576px */
@media (max-width: 575px) {
    .anime-card img {
        height: 300px;
        object-fit: cover;
        width: 200px;
    }

    .anime-card-info {
        width: 200px;
        margin-top: -4px;
        height: auto;
    }

    .anime-card h3 {

        padding-bottom: 10px;
        font-size: 20px;
        font-family: kuro;
    }

    .anime-card p {

        color: black;
        padding: 5%;
        font-size: 8px;
        font-family: kuro;
        text-shadow: none !important;
    }

    .not-found {
        font-size: 40px;
    }
}