@import url("header.css");
@import url("banner.css");
@import url("content.css");
@import url("footer.css");
@import url("random.css");
@import url("search.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background-color: rgb(20, 20, 20) !important;

}

@font-face {
    font-family: kuro;
    src: url(Fonts/Kuro-Regular.otf);
}

@font-face {
    font-family: naruto;
    src: url(Fonts/NinjaNaruto-YOn4.ttf);
}

@font-face {
    font-family: aot;
    src: url(Fonts/GothTitan-0W5md.ttf);
}

@font-face {
    font-family: anime;
    src: url(Fonts/manga-temple.regular.ttf);
}

@font-face {
    font-family: onepiece;
    src: url(Fonts/OnePiece-zAqL.ttf);
}

@font-face {
    font-family: bleach;
    src: url(Fonts/Bleach-8jnJ.ttf);
}

@font-face {
    font-family: deathnote;
    src: url(Fonts/Death\ Note.ttf);
}

@font-face {
    font-family: jjk;
    src: url(Fonts/Jujutsu\ Kaisen.ttf);
}

@font-face {
    font-family: dragonball;
    src: url(Fonts/Saiyan-Sans.ttf);
}

@font-face {
    font-family: boruto;
    src: url(Fonts/);
}

#customAlertModal {
    display: none;
    position: fixed;
    z-index: 25;
    top: 10%;
    margin: auto;
    width: 200px;
    background-color: rgb(158, 4, 4);
    border-radius: 2vh 1vh 2vh 1vh;
    font-family: kuro;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    width: 100%;
}

.modal-content h2 {
    color: white;
    font-size: 2rem;
    padding: 10px;
}

.modal-content p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    filter: brightness(70%);

}

.close:hover,
.close:focus {
    filter: brightness(100%);
    text-decoration: none;
    cursor: pointer;

}

/* For screens smaller than 576px */
@media (max-width: 575px) {
    #customAlertModal {
        top: 5%;
        margin: auto;
        width: 100px;
        z-index: 0;
    }

    .modal-content {

        margin: auto;
        padding: 0px;
        width: 100%;
    }

    .modal-content h2 {
        color: white;
        font-size: 10px;
        padding: 0px;
    }

    .modal-content p {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 7px;
    }

    .close {
        color: white;
        float: right;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        filter: brightness(70%);

    }
}




/* For screens between 576px and 768px */
/* @media (min-width: 576px) and (max-width: 767px) {
    header {
        height: 100px;
    }

    .logo {
        font-size: 40px;
    }

    .nav_bar {
        width: 100%;
        background-color: #111;
        margin: 0;
        position: fixed;
        display: none;
    }

    .nav_bar li {
        display: flex;
        flex-direction: column;


    }

    .menu {
        display: block;
    }

    .menu img {
        width: 50px;
    }



    .carousel-caption {
        top: 15% !important;
        right: 50% !important;
        left: 5% !important;
        bottom: 40% !important;
        width: 90% !important;
        margin: auto;
        float: left;
        text-align: center;
    }

    .carousel-caption h1 {
        font-size: 40px;
    }

    .carousel-caption p {
        width: 70%;
        font-size: 16px;
    }

    .carousel-item button.watch {
        width: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .rate {
        margin: 10px auto;
        text-align: center;
    }

    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
} */

/* For screens between 768px and 992px */
/* @media (min-width: 768px) and (max-width: 991px) {
    header {
        height: 150px;
    }

    .logo {
        font-size: 40px;
    }

    .nav_bar {
        width: 100%;
        background-color: #111;
        margin: 0;
        position: fixed;
        display: none;
    }

    .nav_bar li {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: block;
    }

    .menu img {
        width: 50px;
    }


    .carousel-caption {
        top: 15% !important;
        right: 50% !important;
        left: 5% !important;
        bottom: 40% !important;
        width: 90% !important;
        margin: auto;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 11;
    }
} */